/*****                    RESET CSS                  *****/
html {
    color: #222;
    margin: 0;
    padding: 0;
}

body, ul {
    padding: 0;
    margin: 0;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

li {
    list-style: none;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

[hidden] {
    display: none !important;
}

a, a:visited {
    text-decoration: underline;
}

pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}

tr, img {
    page-break-inside: avoid;
}

h2, h3 {
    page-break-after: avoid;
}

* {
    position: relative;
    outline: none;
    font-family: monospace sans-serif;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    word-break: break-word;
}

body::-webkit-scrollbar {
    width: 0;
}

table {
    border-spacing: 0;
}

/*****                FIN RESET CSS                  *****/

* {
    font-family: 'Roboto';
}

:root {
    --color-verde: #45BDA4;
    --color-rojo: #ff0000;
    --color-verde_oscuro: #2d7366;
    --color-amarillo: #F9B801;
    --color-gris: #F2F2F2;
    --color-gris_oscuro: #787878;
    --color-negro: #000;
    --color-negro_letra: #222;
    --color-blanco: #fff;
}


.logo {
    filter: invert(57%) sepia(36%) saturate(622%) hue-rotate(117deg) brightness(106%) contrast(87%);
}

svg {
    fill: var(--color-verde) !important;
}

body {
    background-color: var(--color-gris);

}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

a {
    color: var(--color-negro_letra);
    text-decoration: none;
    transition-duration: .2s;

    &:hover {
        color: var(--color-verde);
    }
}

form {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    width: calc(100% - 20px);
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    justify-content: center;
    margin: 30px auto;
    gap: 20px;
    @media (width >= 768px) {
        .form.half-form {
            width: calc(50% - 10px);
        }
    }

    h3 {
        padding: 10px;
    }

    .form {
        width: 100%;
    }

    input, select {
        display: block;
        width: 100%;
        margin: 5px 0;
        padding: 10px 15px;
        border-radius: 10px;
        border: 2px solid var(--color-gris);
        transition-duration: .3s;
    }

    input[type="submit"]:hover {
        background-color: var(--color-gris_oscuro);
        color: white;
        cursor: pointer;
    }
}

p.error {
    display: block;
    color: red;
    text-align: center;
}

.politicas {
    width: calc(100% - 40px);
    max-width: 1200px;
    margin: 0px auto 50px;

    li {
        list-style: initial;
        margin-left: 20px;
    }
}

.datos-alumno {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;

    ul {
        max-width: calc(100% - 20px);
        margin: auto;
        margin-bottom: 30px;
    }

    h3 {
        margin-bottom: 20px;
        text-align: center;
    }

    p {
        text-align: center;
        color: var(--color-gris_oscuro);
    }
}

/*******************/
/** INICIO HEADER **/
/*******************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    max-width: 1200px;
    margin: 0px auto 50px;
    padding: 20px;
    background-color: white;
    border-radius: 0 0 20px 20px;
    @media (min-width: 768px) {
        gap: 20px;
    }
    .container-hamburguer {
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
        .boton {

            a {
                padding: 10px 40px
            }
        }
    }

    .logo {
        display: block;
        height: 80px;
        width: fit-content;

        img {
            height: inherit;
            width: auto;
        }
    }
    a {
        display: block;
        width: fit-content;
    }
    ul {
        display: flex;
        gap: 20px;
        height: 100%;

        li {
            height: inherit;

            a {
                display: flex;
                align-items: center;
                width: initial;
                height: inherit;
                font-size: 18px;

                &:hover {
                    color: var(--color-verde);
                }
            }
        }
    }

    .boton {
        margin: initial;
    }
}

/*******************/
/**   FIN HEADER  **/
/*******************/


/*******************/
/**INICIO CHECKBOX**/
/*******************/
input[type="checkbox"] {
    width: 12px;
    height: 12px;
    cursor: pointer
}

.checkbox:not(:has(input[type="checkbox"]:checked)) ~ input[type="submit"] {
    opacity: 50%;
    cursor: not-allowed;
    pointer-events: none;
}

.checkbox:not(:has(input[type="checkbox"]:checked)) ~ input[type="submit"]:hover {
    background-color: var(--color-gris);
    color: initial;
    opacity: 50%;
    cursor: not-allowed;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 15px;
    width: auto;
    cursor: pointer;
}

/****************/
/**FIN CHECKBOX**/
/****************/


/*****************/
/**   BOTONES   **/
/*****************/
.boton {
    display: block;
    margin: auto;
    height: fit-content;
    max-width: 200px;

    a {
        display: block;
        background-color: var(--color-verde);
        border-radius: 10px;
        border: 1px solid var(--color-verde);
        padding: 10px 15px;
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: white;
        transition-duration: .2s;

        &:hover {
            background-color: white;
            color: #45BDA4;
        }
    }
}

/*****************/
/** FIN BOTONES **/
/*****************/


/*****************/
/**    FOOTER   **/
/*****************/
footer .logo img {
    width: 200px;
}

footer {
    width: calc(100% - 40px);
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 20px 20px 0 0;

    .width_footer {
        width: calc(100% - 40px);
        margin: auto;
        div{
            padding: 10px;
        }
        ul{
            margin-top: 10px;
        }

        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
        }
    }
}

/*****************/
/** FIN FOOTER  **/
/*****************/